<header id="page-top" data-spy="scroll">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark navbar-background fixed-top">
    <mdb-navbar-brand class="navbar-brand">
      <a href="http://www.sens.sys.es.osaka-u.ac.jp/">
        <img src="images/logos/sens-lab-logo-white.png" alt="SENS Laboratory" height="75px">
      </a>
    </mdb-navbar-brand>

    <links>
      <div class="navbar-nav">
        <a class="nav-item nav-link waves-light" routerLink="/home" mdbWavesEffect routerLinkActive="active">Home</a>
        <a class="nav-item nav-link waves-light" routerLink="/research" routerLinkActive="active">Research</a>
        <a class="nav-item nav-link waves-light" routerLink="/publication" routerLinkActive="active">Publication</a>
        <a class="nav-item nav-link waves-light" routerLink="/classes" routerLinkActive="active">Classes</a>
        <a class="nav-item nav-link waves-light" routerLink="/member" routerLinkActive="active">Members</a>
        <a class="nav-item nav-link waves-light" routerLink="/contact" routerLinkActive="active">Contact Us</a>
      </div>
    </links>
  </mdb-navbar>
</header>
