<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <span class="copyright">
            Since 2018 &copy; SENS Laboratory | Graduate School of Engineering Science, Osaka University. [redesign by <a
              href="http://punpongsanon.info/" target="_new" class="footer-text-link">moji</a> and <a href="https://github.com/narugit"
              target="_new" class="footer-text-link">naruki</a> and <a href="https://github.com/kamino410" target="_new" class="footer-text-link">kamino</a>].
            All Rights Reserved.
          </span>
        </div>
        <div class="mx-auto">
          <span>
            <a href="http://www.osaka-u.ac.jp/anniversary2021" target="_new" style="text-decoration: none;">
              <img src="images/logos/osaka-u-logo-90th-transparent.svg" style="width: 30px;" class="m-2">
            </a>
          </span>
          <span>
            <a href="http://www.osaka-u.ac.jp/" target="_new" target="_new" style="text-decoration: none;">
              <img src="images/logos/osaka-u-logo-transparent.svg" style="width: 30px;" class="m-2">
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
