<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="headline mt-8">Research
        <hr/>
      </h3>
    </div>
  </div>

  <div id="research" class="research-body"></div>
  <ng-container *ngFor="let res of researches">
    <div class='row mb-5'>
      <div class='col-md-3'>
        <img src={{res.photoPass}} class='research-image'>
      </div>
      <div class='col-md-9'>
        <div class='research-title'>{{res.titleJP}}</div>
        <div class='research-title'>{{res.titleEN}}</div>
        <div class='research-publication'>({{res.publication}})</div>
        <div class='research-abstract mt-3'>{{res.abstract}}</div>
        <div class='research-collaboration mb-3'>
          <div [innerHTML]="(res.collaboration !== '' ? '(' : '') + res.collaboration + (res.collaboration !== '' ? ')' : '')"></div>
        </div>
        <a href={{res.link}} target='_new' class='link-btn-square'>
          <span class='btn-text'>
            <i class='fas fa-link'></i> Detail
          </span>
        </a>
      </div>
    </div>
  </ng-container>

</div>

<div class="mb-5"></div>
