<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="headline">Research / 研究紹介
        <hr/>
      </h3>
    </div>
  </div>

  <div class="row">
	<a class='link-btn-square ml-3 mb-3' (click)='clearQuery()'> 
		<span class='btn-text'>All</span>
	</a>

	<a class='link-btn-square ml-3 mb-3' (click)='viewTheme("projector-camera system")'> 
		<span class='btn-text'>Projector-Camera System / プロジェクタ応用工学</span>
    </a>

	<a class='link-btn-square ml-3 mb-3' (click)='viewTheme("user interfaces")'> 
		<span class='btn-text'>User Interfaces / ユーザインタフェース</span>
    </a>
	
	<a class='link-btn-square ml-3 mb-3' (click)='viewTheme("computer vision")'> 
		<span class='btn-text'>Computer Vision / コンピュータビジョン</span>
    </a>
	
	<a class='link-btn-square ml-3 mb-3' (click)='viewTheme("digital achieve")'> 
		<span class='btn-text'>Digital Achieve / デジタルアーカイブ応</span>
    </a>
	
	<a class='link-btn-square ml-3 mb-3' (click)='viewTheme("design engineering")'> 
		<span class='btn-text'>Design Engineering / デザイン工学</span>
    </a>
	
	<a class='link-btn-square ml-3 mb-3' (click)='viewTheme("sensor network")'> 
		<span class='btn-text'>Sensor Network / センサネットワーク</span>
    </a>
  </div>

  	<!-- only available when the search panel is needed in this module -->
	<!--
	<div class="col-12 col-md-6">
    	<form class="form-inline md-form form-sm">
        	<i class="fa fa-search" aria-hidden="true"></i>
        	<input class="col-8 col-md-10 form-control form-control-sm ml-3" type="search" [(ngModel)]="searchText" name="research-search"
          	placeholder="Search">
        	<i class="far fa-times-circle custom-button" aria-hidden="true" (click)='clearQuery()'></i>
      	</form>
    </div>
	-->

  <div id="research" class="research-body"></div>
  <ng-container *ngFor="let res of (researches | researchFilter: searchText)">
	<div class='row mb-5'>
		<div class='col-md-3'>
			<img src={{res.photoPass}} class='research-image'>
		</div>
		<div class='col-md-9'>
			<div class='research-title'>{{res.titleJP}}</div>
			<div class='research-title'>{{res.titleEN}}</div>
			<div class='research-publication'>({{res.publication}})</div>
			<div class='research-abstract mt-3'>{{res.abstract}}</div>
			<div class='research-collaboration mb-3'>
				<div [innerHTML]="(res.collaboration !== '' ? '(' : '') + res.collaboration + (res.collaboration !== '' ? ')' : '')"></div>
			</div>
			<a href={{res.link}} target='_new' class='link-btn-square'>
			  <span class='btn-text'>
				<i class='fas fa-link'></i> Details
			  </span>
			</a>
		</div>
	</div>
  </ng-container>

  	<div class="row">
		<a href='http://senssyses.sakura.ne.jp/research/index.html' target='_new' class='link-btn-square ml-3 mb-3'>
			<span class='btn-text'>
			<i class="fas fa-history"></i> Archives
			</span>
		</a>
	</div>

</div>

<div class="mb-5"></div>
