<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="headline">Research / 研究紹介
        <hr/>
      </h3>
    </div>
  </div>

  <div class="row">
    <a href='http://senssyses.sakura.ne.jp/research/index.html' target='_new' class='link-btn-square ml-3 mb-3'>
		<span class='btn-text'>
		<i class="fas fa-history"></i> Archives
		</span>
    </a>
	
	<a id="show_all_res_btn" class="link-btn-square ml-3 mb-3" style="text-align: center;" (click)="showAllRes()" [hidden]="searchText">
		<span class='btn-text'>All</span>
    </a>
	
	<a id="show_all_res_btn" class="link-btn-square ml-3 mb-3" style="text-align: center;" (click)="showAllRes()" [hidden]="searchText">
		<span class='btn-text'>Projector-Camera System / プロジェクタ応用工学</span>
    </a>
	
	<a id="show_all_res_btn" class="link-btn-square ml-3 mb-3" style="text-align: center;" (click)="showAllRes()" [hidden]="searchText">
		<span class='btn-text'>User Interfaces / ユーザインタフェース</span>
    </a>
	
	<a id="show_all_res_btn" class="link-btn-square ml-3 mb-3" style="text-align: center;" (click)="showAllRes()" [hidden]="searchText">
		<span class='btn-text'>Computer Vision / コンピュータビジョン</span>
    </a>
	
	<a id="show_all_res_btn" class="link-btn-square ml-3 mb-3" style="text-align: center;" (click)="showAllRes()" [hidden]="searchText">
		<span class='btn-text'>Digital Achieve / デジタルアーカイブ応</span>
    </a>
	
	<a id="show_all_res_btn" class="link-btn-square ml-3 mb-3" style="text-align: center;" (click)="showAllRes()" [hidden]="searchText">
		<span class='btn-text'>Design Engineering / デザイン工学</span>
    </a>
	
	<a id="show_all_res_btn" class="link-btn-square ml-3 mb-3" style="text-align: center;" (click)="showAllRes()" [hidden]="searchText">
		<span class='btn-text'>Sensor Network / センサネットワーク</span>
    </a>
  </div>

  <div id="research" class="research-body"></div>
  <ng-container *ngFor="let res of researches">
	<div class='row mb-5'>
		<div class='col-md-3'>
			<img src={{res.photoPass}} class='research-image'>
		</div>
		<div class='col-md-9'>
			<div class='research-title'>{{res.titleJP}}</div>
			<div class='research-title'>{{res.titleEN}}</div>
			<div class='research-publication'>({{res.publication}})</div>
			<div class='research-abstract mt-3'>{{res.abstract}}</div>
			<div class='research-collaboration mb-3'>
				<div [innerHTML]="(res.collaboration !== '' ? '(' : '') + res.collaboration + (res.collaboration !== '' ? ')' : '')"></div>
			</div>
			<a href={{res.link}} target='_new' class='link-btn-square'>
			  <span class='btn-text'>
				<i class='fas fa-link'></i> Details
			  </span>
			</a>
		</div>
	</div>
  </ng-container>
</div>

<div class="mb-5"></div>
