<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="headline mb-3">Publication / 研究業績</h3>
    </div>
    <div class="col-md-6">
      <form class="form-inline md-form form-sm">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-sm ml-3" type="search" [(ngModel)]="searchText" name="publication-search" placeholder="Search">
      </form>
    </div>
  </div>

  <div id="publication">

    <div class="row">
      <div class="col">
        <h3 class="headline mt-4"><i class="fas fa-award"></i> Award / 受賞
          <hr/>
        </h3>
        <i class="loading fa fa-spinner fa-spin" style="font-size:24px; text-align:center;" [hidden]="showingAwards !== undefined"></i>
      </div>
    </div>

    <div id="award">
      <ng-container *ngFor="let pubs of ([awards, showingAwards] | publicationFilter: searchText)">
        <h4>{{pubs.year}}</h4>
        <ol class="award">
          <ng-container *ngFor="let con of pubs.contents">
            <li>{{con.title}}</li>
            {{con.detail}}<br>
          </ng-container>
        </ol>
      </ng-container>
    </div>

    <div class="row">
      <div class="col">
        <div class="my-2"></div>
        <a id="show_more_award_btn" class="link-btn-square" style="text-align: center;" (click)="showPrevAwards()" [hidden]="!awardsAreLeft || searchText">
          <span class="btn-text">▼ previous year</span>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3 class="headline mt-4"><i class="fas fa-book-open"></i> Journal / ジャーナル
          <hr/>
        </h3>
        <i class="loading fa fa-spinner fa-spin" style="font-size:24px; text-align:center;" [hidden]="showingJournals !== undefined"></i>
      </div>
    </div>

    <div id="journal">
      <ng-container *ngFor="let pubs of ([journals, showingJournals] | publicationFilter: searchText)">
        <h4>{{pubs.year}}</h4>
        <ol>
          <ng-container *ngFor="let con of pubs.contents">
            <li>{{con.title}}</li>
            {{con.detail}}
          </ng-container>
        </ol>
      </ng-container>
    </div>

    <div class="row">
      <div class="col">
        <div class="my-2"></div>
        <a id="show_more_journal_btn" class="link-btn-square" style="text-align: center;" (click)="showPrevJournals()" [hidden]="!journalsAreLeft || searchText">
          <span class="btn-text">▼ previous year</span>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3 class="headline mt-4"><i class="fas fa-chalkboard-teacher"></i> International Conference / 国際会議
          <hr/>
        </h3>
        <i class="loading fa fa-spinner fa-spin" style="font-size:24px; text-align:center;" [hidden]="showingInternationalConfs !== undefined"></i>
      </div>
    </div>

    <div id="international_conference">
      <ng-container *ngFor="let pubs of ([internationalConfs, showingInternationalConfs] | publicationFilter: searchText)">
        <h4>{{pubs.year}}</h4>
        <ol>
          <ng-container *ngFor="let con of pubs.contents">
            <li>{{con.title}}</li>
          </ng-container>
        </ol>
      </ng-container>
    </div>

    <div class="row">
      <div class="col">
        <div class="my-2"></div>
        <a id="show_more_international_conference_btn" class="link-btn-square" style="text-align: center;" (click)="showPrevInternationalConfs()"
          [hidden]="!internationalConfsAreLeft || searchText">
          <span class="btn-text">▼ previous year</span>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3 class="headline mt-4"><i class="fas fa-chalkboard-teacher"></i> Domestic Conference / 国内会議
          <hr/>
        </h3>
        <i class="loading fa fa-spinner fa-spin" style="font-size:24px; text-align:center;" [hidden]="showingDomesticConfs !== undefined"></i>
      </div>
    </div>

    <div id="domestic_conference">
      <ng-container *ngFor="let pubs of ([domesticConfs, showingDomesticConfs] | publicationFilter: searchText)">
        <h4>{{pubs.year}}</h4>
        <ol>
          <ng-container *ngFor="let con of pubs.contents">
            <li>{{con.title}}</li>
          </ng-container>
        </ol>
      </ng-container>
    </div>

    <div class="row">
      <div class="col">
        <div class="my-2"></div>
        <a id="show_more_domestic_conference_btn" class="link-btn-square" style="text-align: center;" (click)="showPrevDomesticConfs()"
          [hidden]="!domesticConfsAreLeft || searchText">
          <span class="btn-text">▼ previous year</span>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3 class="headline mt-4"><i class="fas fa-laptop"></i> Survey / 解説記事
          <hr/>
        </h3>
        <i class="loading fa fa-spinner fa-spin" style="font-size:24px; text-align:center;" [hidden]="showingSurveys !== undefined"></i>
      </div>
    </div>

    <div id="survey">
      <ng-container *ngFor="let pubs of ([surveys, showingSurveys] | publicationFilter: searchText)">
        <h4>{{pubs.year}}</h4>
        <ol>
          <ng-container *ngFor="let con of pubs.contents">
            <li>{{con.title}}</li>
          </ng-container>
        </ol>
      </ng-container>
    </div>

    <div class="row">
      <div class="col">
        <div class="my-2"></div>
        <a id="show_more_survey_btn" class="link-btn-square" style="text-align: center;" (click)="showPrevSurveys()" [hidden]="!surveysAreLeft || searchText">
          <span class="btn-text">▼ previous year</span>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3 class="headline mt-4"><i class="fas fa-tv"></i> Press / マスコミ報道
          <hr/>
        </h3>
        <i class="loading fa fa-spinner fa-spin" style="font-size:24px; text-align:center;" [hidden]="showingPresses !== undefined"></i>
      </div>
    </div>

    <div id="press">
      <ng-container *ngFor="let pubs of ([presses, showingPresses] | publicationFilter: searchText)">
        <h4>{{pubs.year}}</h4>
        <ol>
          <ng-container *ngFor="let con of pubs.contents">
            <li>{{con.title}}</li>
          </ng-container>
        </ol>
      </ng-container>
    </div>

    <div class="row">
      <div class="col">
        <div class="my-2"></div>
        <a id="show_more_press_btn" class="link-btn-square" style="text-align: center;" (click)="showPrevPresses()" [hidden]="!pressesAreLeft || searchText">
          <span class="btn-text">▼ previous year</span>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3 class="headline mt-4"><i class="fas fa-book"></i> Book / 著書
          <hr/>
        </h3>
        <i class="loading fa fa-spinner fa-spin" style="font-size:24px; text-align:center;" [hidden]="showingBooks !== undefined"></i>
      </div>
    </div>

    <div id="book">
      <ng-container *ngFor="let pubs of ([books, showingBooks] | publicationFilter: searchText)">
        <h4>{{pubs.year}}</h4>
        <ol>
          <ng-container *ngFor="let con of pubs.contents">
            <li>{{con.title}}</li>
          </ng-container>
        </ol>
      </ng-container>
    </div>

    <div class="row">
      <div class="col">
        <div class="my-2"></div>
        <a id="show_more_book_btn" class="link-btn-square" style="text-align: center;" (click)="showPrevBooks()" [hidden]="!booksAreLeft || searchText">
          <span class="btn-text">▼ previous year</span>
        </a>
      </div>
    </div>

  </div>
</div>

<div class="mb-5"></div>
