<div class="container mb-4">

  <div class="row">
    <div class="col">
      <h3 class="big-headline">Leaflet
        <hr/>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col leaflet-body">
      <a href="data/leaflet.pdf" target="_new" class="leaflet-link">
        研究室紹介リーフレット
      </a>
      （PDF、11.5MB、2019年6月版）
    </div>
  </div>

</div>

<div id="home-photo" class="container">
  <mdb-carousel [isControls]="true" [animation]="'slide'">
    <!-- Image size should be 1300px * 540px -->
	<!--
    <mdb-carousel-item>
      <img class="d-block w-100" src="images/teasers/pyramid-3d-reconstruction.jpg" alt="teaser-pyramid-3d-reconstruction">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="images/teasers/extended-hand-with-remote-projection.jpg" alt="extended-hand-with-remote-projection">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="images/teasers/3d-digital-archeology-osaka-castle.jpg" alt="3d-digital-archeology-osaka-castle">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="images/teasers/multiple-projection.jpg" alt="multiple-projection">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="images/teasers/iot-vision-sensor.jpg" alt="iot-vision-sensor">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="images/teasers/human-sensing.jpg" alt="human-sensing">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="images/teasers/olfactory-assist-mask-augmented-human.jpg" alt="olfactory-assist-mask-augmented-human">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="images/teasers/extended-hand-with-preception.jpg" alt="extended-hand-with-preception">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="images/teasers/body-interface-augmented-human.jpg" alt="body-interface-augmented-human">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="images/teasers/softness-modulation-mixed-reality.jpg" alt="softness-modulation-mixed-reality">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="images/teasers/car-interior-simulation.jpg" alt="car-interior-simulation">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="images/teasers/projection-based-mixed-reality.jpg" alt="projection-based-mixed-reality">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="images/teasers/wearable-mixed-reality.jpg" alt="wearable-mixed-reality">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="images/teasers/projection-based-spatial-augmented-reality.jpg" alt="projection-based-spatial-augmented-reality">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="images/teasers/color-compensation-ar.jpg" alt="color-compensation-ar">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="images/teasers/shadow-less-projection-mapping.jpg" alt="shadow-less-projection-mapping">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="images/teasers/3d-reconstruction-scanner.jpg" alt="3d-reconstruction-scanner">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="images/teasers/multi-spectrum-projector.jpg" alt="multi-spectrum-projector">
    </mdb-carousel-item>
	<mdb-carousel-item>
      <img class="d-block w-100" src="images/teasers/lab-activities.jpg" alt="lab-activities">
    </mdb-carousel-item>
	-->
	<!-- per request by Prof. Iwai 2019/07/04-->
	<mdb-carousel-item>
      <img class="d-block w-100" src="images/teasers/4th.jpg" alt="..">
    </mdb-carousel-item>
	<mdb-carousel-item>
      <img class="d-block w-100" src="images/teasers/8th.jpg" alt="..">
    </mdb-carousel-item>
	<mdb-carousel-item>
      <img class="d-block w-100" src="images/teasers/14th.jpg" alt="..">
    </mdb-carousel-item>
	<mdb-carousel-item>
      <img class="d-block w-100" src="images/teasers/15th.jpg" alt="..">
    </mdb-carousel-item>
	<mdb-carousel-item>
      <img class="d-block w-100" src="images/teasers/16th.jpg" alt="..">
    </mdb-carousel-item>
  </mdb-carousel>
</div>

<div class="container">

  <div class="row">
    <div class="col">
      <h3 class="big-headline mt-3">News
        <hr/>
      </h3>
    </div>
  </div>

  <div id="news" class="news-body">
    <ng-container *ngFor="let ny of showingNews">
      <div class='row'>
        <div class='col news-header mt-4 pb-2'>
          {{ny.year}}
        </div>
      </div>
      <ng-container *ngFor="let nt of ny.topic">
        <div class='row'>
          <div class='col-md-2 pb-1' [innerHTML]="nt.date">
          </div>
          <div class='col-md-10' [innerHTML]="nt.content">
          </div>
          <div class='col-md-2 news-body'></div>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <div class="row">
    <div class="col">
      <div class="my-3"></div>
      <a id="show_more_news_btn" class="link-btn-square" (click)="showPrevYearNews()" [hidden]="!newsIsLeft">
        <span class="btn-text">▼ previous year</span>
      </a>
    </div>
  </div>

</div>

<div class="container">

  <div class="row">
    <div class="col">
      <h3 class="big-headline mt-4">Our Lab
        <hr/>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col lab-message mb-3">
      研究テーマに内在する問題の解決を試みる過程で、様々なセンサやデバイスにコンピュータ、ネットワークを 組み合わせて具体的なシステム構築を行ってもらい、その客観的な実験評価を通して、「システムセンシング 」に直接関与できる知能化センシングシステムのグローバル人材を育成することを目標にします。
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="link-with-image-overlay">
        <a routerLink="/history">
          <img src="images/icons/history-of-sens-lab-bf.jpg" class="link-with-image-overlay-image">
          <div class="link-with-image-overlay-container">
            <div class="link-with-image-overlay-text">
              History of SENS / 佐藤研究室の沿革
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>

<div class="container">

  <div class="row">
    <div class="col">
      <h3 class="big-headline mt-4">Links
        <hr/>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-12 my-3">
      <a href="https://www.youtube.com/user/SENSbit/featured" target="_new" style="text-decoration: none; color: #282828;">
        <i class="fab fa-youtube fa-2x"></i>
        <span class="link-link ml-2">『SENSbit』- 佐藤研YouTubeチャンネル</span>
      </a>
    </div>
    <div class="col-12 my-3">
      <a href="https://www.extendedhand.net/" target="_new">
        <img src="images/icons/extendedhand.svg" style="width: 40px;">
        <span class="link-link ml-2">ExtendedHand</span>
      </a>
    </div>
    <div class="col-12 my-3">
      <a href="http://sens7.blogspot.com/" target="_new" style="text-decoration: none; color: #282828;">
        <i class="fab fa-blogger-b fa-2x"></i>
        <span class="link-link ml-3">ブログ</span>
      </a>
    </div>

  </div>

</div>

<div class="mb-5"></div>
