<div class="container">

    <div class="row">
      <div class="col">
        <h3 class="big-headline mt-4">Education in our lab. / 研究室教育
          <hr />
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col classes-strong mb-2">
        佐藤研における研究室教育[<a href="https://sens-edu.jimdo.com/" target="_new">外部サイト</a>]
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <ul class="classes-ul">
          <li>佐藤研における研究室活動と教育効果との対応表[<a href="data/SENS-LabEdu.pdf" target="_new">PDF</a>]</li>
          <li>佐藤研履修計画チャート[<a href="data/SENS-EDUCC.pdf" target="_new">PDF</a>]</li>
          <li>佐藤研情報バランスシート[<a href="data/SENS-IBS.pdf" target="_new">PDF</a>]</li>
        </ul>
      </div>
    </div>
	
    <div class="row">

    </div>

</div>
  
<div class="container">

  <div class="row">
    <div class="col">
      <h3 class="big-headline mt-4">Class / 講義
        <hr />
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 mt-4">
      <img src="images/classes/satolab-pbl-teaser.jpg" width="100%">
      <div class="link-class-header">
        知能システム学PBL
      </div>
      <span class="tag-class-current">
        本年度
      </span>
      <span class="tag-class-student-year">
        基礎工学部システム科学科知能システム学コース２年
      </span>

      <div class="info-class-details mt-4">
        独創的な学術研究を推進し、国際社会で活躍できる豊かな創造性をもった学生を養成することを目的として、従来の学部教授法の慣習にとらわれることなく、新鮮で自由な教育研究の推進を図ることを目指します（PBL：Problem-Based Learning)。近年、我が国の社会体制は急激に成熟化し、若年層における学問への動機が失われつつあります。そのような状況の中で、我が国が今後とも創造性と活力のある社会を維持し、国際社会において主要な役割を果たしていくためには、優れた人材の育成や新しい知恵の創造に努めることが不可欠であり、学部教育が果たすべき役割は極めて重要となってきています。学問、研究は外から強制されて推進する性質のものではありませんし、教授法で修学の枠組みを規制することで進展するものでもありません。
        <div>
          [
          <a class="link-class-details" href="https://syspbl-sato2010.jimdo.com/" target="_new">2010</a>,
          <span class="class-details">2011</span>,
          <span class="class-details">2012</span>,
          <span class="class-details">2013</span>,
          <span class="class-details">2014</span>,
          <span class="class-details">2015</span>,
          <span class="class-details">2016</span>,
          <a class="link-class-details" href="https://syspbl-sato2017.jimdo.com/" target="_new">2017</a>,
          <a class="link-class-details" href="https://senslab.github.io/pbl/H30/" target="_new">2018</a>,
          <a class="link-class-details" href="https://www.sens.sys.es.osaka-u.ac.jp/pbl/2019/" target="_new">2019</a>, 
		  <span class="class-details">2020</span>,
          ]
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-4">
      <img src="images/classes/satolab-kiso-seminar-teaser.jpg" width="100%">
      <div>
        <a class="link-class-header" href="http://www.osaka-u.ac.jp/ja/education/copy_of_education/basic_seminar"
          target="_new">
          基礎セミナー
        </a>
      </div>
      <span class="tag-class-current">
        本年度
      </span>
      <span class="tag-class-student-year">
        基礎工学部システム科学科知能システム学コース２年
      </span>
      <div class="info-class-details mt-4">
        基礎セミナーは少人数の学生が教員を囲んで行う対話型教育で、最も人気のある科目となっています。実験・実習中心のセミナー、ディベート型セミナー、フィールドワーク中心のセミナー、キャリア形成セミナー、ディスカバリーセミナー（課題発見型セミナー）、文理融合型セミナー等の多彩なセミナーがあります。初年次生向けセミナーには高校生も参加し、２２年度からは高度教養教育の一環としての基礎セミナーも開講されています。２３年度からは総長お薦めセミナーも新設されます。
        <div>
          [
          <a class="link-class-details" href="https://imaging.jimdo.com/" target="_new">2010 「映像技術の過去・現在・未来」</a>,
          <a class="link-class-details" href="http://sci-p.jimdo.com/" target="_new">2013 「サイエンス・プレゼンテーション入門」</a>,
          <a class="link-class-details" href="http://sci-p-2014.jimdo.com/" target="_new">2014 「サイエンス・プレゼンテーション入門」</a>
          ]
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 mt-4">
      <img src="images/classes/satolab-chino-seminar-teaser.jpg" width="100%">
      <div class="link-class-header">
        知能システム学セミナー
      </div>
      <span class="tag-class-current">
        本年度
      </span>
      <span class="tag-class-student-year">
        基礎工学部システム科学科知能システム学コース２年
      </span>
      <div class="info-class-details mt-4">
        理工系の英文に慣れるとともに、プレゼンテーションの方法や、文献の読み進め方など、卒業研究を進めていく上で必要となる基礎的な技術の習得もめざす。各人がいずれかの研究室において、
        セミナー形式により英文の専門書、論文などを輪読し討論する。４年次の卒業研究を質的に高めるための導入部分である。また、学生が積極的に参加することによってはじめて成り立つ授業であるので、常に参加している意識を持って臨んでほしい。
        <div>
          [
          <a class="link-class-details" href="https://www.sens.sys.es.osaka-u.ac.jp/sys-seminar/H30/index.html" target="_new">2018</a>, 
		  <a class="link-class-details" href="https://www.sens.sys.es.osaka-u.ac.jp/sys-seminar/R1/index.html" target="_new">2019</a>
          ]
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-4">
      <img src="images/classes/satolab-chino-sys-experiment-teaser.jpg" width="100%">
      <div class="link-class-header">
        知能システム学実験
      </div>
      <span class="tag-class-current">
        本年度
      </span>
      <span class="tag-class-student-year">
        基礎工学部システム科学科知能システム学コース３年
      </span>
      <div class="info-class-details mt-4">
        学生実験では実習を通して、１）講義などで学んだ知識を実験によって確かめ、それらを比較検討することで理論的な知識に対する理解を深めること、２）装置や器具の扱い方、実験結果の整理方法などに習熟すること、３）学生実験を通して、将来各自が自ら実験計画を立てて実験を行い得る能力を培うことを目標とする。
        <div>
          [
          <a class="link-class-details" href="https://www.sens.sys.es.osaka-u.ac.jp/sys-exp/H30B/index.html" target="_new">2019</a>
          ]
        </div>
      </div>
    </div>
  </div>
</div>  

  <div class="mb-5"></div>